#define IDC_STC 1001
#ifndef IDOK
  #define IDOK 1
#endif
#ifndef IDCANCEL
  #define IDCANCEL 2
#endif
#ifndef IDC_STATIC
  #define IDC_STATIC -1
#endif

#include "resource.h"
#include "atlres.h"

LANGUAGE 9,1

IDR_MAINFRAME MENU
BEGIN
  POPUP "文件(&F)"
  BEGIN
    MENUITEM "打开(&O)\tCtrl+O",ID_FILE_OPEN
    MENUITEM "选项",ID_FILE_OPTION
    MENUITEM SEPARATOR
    MENUITEM "关于麦宝(&A)",ID_APP_ABOUT
    MENUITEM SEPARATOR
    MENUITEM "退出(&X)",ID_APP_EXIT
  END
END

IDR_MAINFRAME ICON DISCARDABLE "res/MBoo.ico"
IDR_BITMAP_LOCK BITMAP DISCARDABLE "res/lock.bmp"
IDR_BITMAP_BKGROUND BITMAP DISCARDABLE "res/mboobk01.bmp"

IDD_DLG_PANEL DIALOGEX 0,0,522,57
FONT 8,"MS Shell Dlg",400,0,1
STYLE WS_CHILDWINDOW|WS_VISIBLE|WS_SYSMENU|DS_SHELLFONT
BEGIN
  CONTROL "",IDC_PANEL_BTN_STARTPAUSE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,0,0,38,14
  CONTROL "",IDC_PANEL_BTN_STOP,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,39,0,38,14
  CONTROL "",IDC_PANEL_SLD_PROGRESS,"msctls_trackbar32",WS_VISIBLE|WS_TABSTOP|TBS_NOTICKS|TBS_BOTH,81,0,296,14
  CONTROL "",IDC_PANEL_CHK_AUDIO,"Button",WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,498,0,14,10
  CONTROL "",IDC_PANEL_SLD_AUDIO,"msctls_trackbar32",WS_VISIBLE|WS_TABSTOP|TBS_NOTICKS|TBS_BOTH,441,0,54,12
  CONTROL "00:00 / 00:00",IDC_PANEL_STC_TIMEFRAME,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,381,0,54,8
END

IDD_DLG_LIST DIALOGEX 0,0,145,382
FONT 8,"MS Shell Dlg",400,0,1
STYLE WS_CHILDWINDOW|WS_VISIBLE|WS_SYSMENU|DS_SHELLFONT
BEGIN
  CONTROL "",IDC_LIST_TREE_VIDEO,"SysTreeView32",WS_VISIBLE|WS_BORDER|WS_HSCROLL|WS_TABSTOP,7,7,124,338
  CONTROL "同步视频目录",IDC_LIST_BTN_SYNC,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,7,359,66,14
  CONTROL "",IDC_LIST_PGS_SYNC,"msctls_progress32",WS_VISIBLE|WS_BORDER,7,347,122,8
END

IDD_DLG_OPTION DIALOGEX 0,0,318,78
CAPTION "设置系统选项"
FONT 8,"MS Shell Dlg",400,0,1
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_MODALFRAME|DS_SHELLFONT
BEGIN
  CONTROL "确     定",IDOK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,205,60,50,14
  CONTROL "取     消",IDCANCEL,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,262,60,50,14
  CONTROL "视频目录查询接口 : ",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,7,15,75,13
  CONTROL "",IDC_OPTION_EDIT_URL,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,83,14,229,14,WS_EX_CLIENTEDGE
  CONTROL "本地视频存放目录 : ",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,7,37,75,13
  CONTROL "",IDC_OPTION_EDIT_DIR,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL,83,36,208,15,WS_EX_CLIENTEDGE
  CONTROL "...",IDC_OPTION_BTN_BROWSE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,294,36,18,15
END

IDD_DLG_WIZARD DIALOGEX 0, 0, 316, 124
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "使用向导"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "下一步",IDOK,205,103,50,14
    PUSHBUTTON      "取   消",IDCANCEL,259,103,50,14
    LTEXT           "欢迎使用麦宝/MBoo - 播布客(www.boobooke.com)专业级的教育培训视频播放器\n\n\t麦宝的使用方法很简单，你只要指定本地一个目录，把从播布客网站上下载的视频zip压缩包拷贝到这个目录下，无须解压，麦宝就会自动管理这些视频。假设你指定目录为D:\\videos，那么这个目录下的视频请保持类似D:\\videos\\bbk1109.zip, D:\\videos\\bbk2018.zip, D:\\videos\\bbk5550.zip等形式。",IDC_STATIC,7,7,302,54
    LTEXT           "本地视频存放的目录 : ",IDC_STATIC,8,78,80,12
    EDITTEXT        IDC_WIZARD_EDIT_DIR,88,76,203,14,ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      "...",IDC_WIZARD_BTN_BROWSE,292,75,18,15
END

IDD_DLG_UNZIP DIALOGEX 0, 0, 401, 270
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "解压缩视频压缩包"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "下一步",IDOK,288,249,50,14
    PUSHBUTTON      "取消",IDCANCEL,344,249,50,14
    LTEXT           "在视频目录中存在如下尚未解压缩的视频压缩包，你是否想现在解压缩？",IDC_UNZIP_STATIC_CAPTION,3,15,374,10
    CONTROL         "",IDC_UNZIP_LIST_VIDEOZIP,"SysListView32",LVS_ALIGNLEFT | WS_BORDER | WS_TABSTOP,5,30,394,114
    PUSHBUTTON		"解压缩",IDC_UNZIP_BTN_UNCOMPRESS,344,150,50,14
    LTEXT           "正在解压缩...",IDC_UNZIP_STATIC_VIDEPZIP,8,166,378,16
    LTEXT           "已经解压缩...",IDC_UNZIP_STATIC_PERCENT,8,200,378,16
    CONTROL         "",IDC_UNZIP_PGS_PERCENT,"msctls_progress32",WS_BORDER,7,179,380,8
    CONTROL         "",IDC_UNZIP_PGS_VIDEOZIP,"msctls_progress32",WS_BORDER,7,216,380,8
    CONTROL         "解压缩后删除视频的zip压缩包",IDC_UNZIP_CHK_DELVZIP,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,150,126,11
END

IDD_ABOUTBOX DIALOGEX 0,0,187,102
CAPTION "About"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_MODALFRAME
BEGIN
  CONTROL "OK",IDOK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,130,81,50,14
  CONTROL "MBoo Player v1.0\n\n(c) Copyright 2012 \n\nBoobooke LLC",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_CENTER,25,48,77,42
  CONTROL "",IDR_MAINFRAME,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|0x00000017,0,55,26,18
  CONTROL "",IDC_STATIC,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,9,9,115,88
END

IDR_MAINFRAME ACCELERATORS
BEGIN
  78,ID_FILE_NEW,VIRTKEY,CONTROL,NOINVERT
  79,ID_FILE_OPEN,VIRTKEY,CONTROL,NOINVERT
  83,ID_FILE_SAVE,VIRTKEY,CONTROL,NOINVERT
  80,ID_FILE_PRINT,VIRTKEY,CONTROL,NOINVERT
  90,ID_EDIT_UNDO,VIRTKEY,CONTROL,NOINVERT
  88,ID_EDIT_CUT,VIRTKEY,CONTROL,NOINVERT
  67,ID_EDIT_COPY,VIRTKEY,CONTROL,NOINVERT
  86,ID_EDIT_PASTE,VIRTKEY,CONTROL,NOINVERT
  8,ID_EDIT_UNDO,VIRTKEY,ALT,NOINVERT
  46,ID_EDIT_CUT,VIRTKEY,SHIFT,NOINVERT
  45,ID_EDIT_COPY,VIRTKEY,CONTROL,NOINVERT
  45,ID_EDIT_PASTE,VIRTKEY,SHIFT,NOINVERT
  117,ID_NEXT_PANE,VIRTKEY,NOINVERT
  117,ID_PREV_PANE,VIRTKEY,SHIFT,NOINVERT
END

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,1
PRODUCTVERSION 1,0,0,1
FILEOS 0x00000004
FILETYPE 0x00000002
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "FileDescription", "MBoo Module\0"
      VALUE "FileVersion", "1, 0, 0, 1\0"
      VALUE "InternalName", "MBoo\0"
      VALUE "LegalCopyright", "Copyright 2012\0"
      VALUE "OriginalFilename", "MBoo.exe\0"
      VALUE "ProductName", "MBoo Module\0"
      VALUE "ProductVersion", "1, 0, 0, 1\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04B0
  END
END

STRINGTABLE DISCARDABLE
BEGIN
  IDR_MAINFRAME "麦宝/MBoo 播放器"
END

STRINGTABLE DISCARDABLE
BEGIN
  ID_FILE_NEW "Create a new document\nNew"
  ID_FILE_OPEN "Open an existing document\nOpen"
  ID_FILE_CLOSE "Close the active document\nClose"
  ID_FILE_SAVE "Save the active document\nSave"
  ID_FILE_SAVE_AS "Save the active document with a new name\nSave As"
  ID_FILE_PAGE_SETUP "Change the printing options\nPage Setup"
  ID_FILE_PRINT_SETUP "Change the printer and printing options\nPrint Setup"
  ID_FILE_PRINT "Print the active document\nPrint"
  ID_FILE_PRINT_PREVIEW "Display full pages\nPrint Preview"
END

STRINGTABLE DISCARDABLE
BEGIN
  ID_APP_ABOUT "Display program information, version number and copyright\nAbout"
  ID_APP_EXIT "Quit the application; prompts to save documents\nExit"
END

STRINGTABLE DISCARDABLE
BEGIN
  ID_NEXT_PANE "Switch to the next window pane\nNext Pane"
  ID_PREV_PANE "Switch back to the previous window pane\nPrevious Pane"
END

STRINGTABLE DISCARDABLE
BEGIN
  ID_WINDOW_NEW "Open another window for the active document\nNew Window"
  ID_WINDOW_ARRANGE "Arrange icons at the bottom of the window\nArrange Icons"
  ID_WINDOW_CASCADE "Arrange windows so they overlap\nCascade Windows"
  ID_WINDOW_TILE_HORZ "Arrange windows as non-overlapping tiles\nTile Windows"
  ID_WINDOW_TILE_VERT "Arrange windows as non-overlapping tiles\nTile Windows"
  ID_WINDOW_SPLIT "Split the active window into panes\nSplit"
END

STRINGTABLE DISCARDABLE
BEGIN
  ID_EDIT_CLEAR "Erase the selection\nErase"
  ID_EDIT_CLEAR_ALL "Erase everything\nErase All"
  ID_EDIT_COPY "Copy the selection and put it on the Clipboard\nCopy"
  ID_EDIT_CUT "Cut the selection and put it on the Clipboard\nCut"
  ID_EDIT_FIND "Find the specified text\nFind"
  ID_EDIT_PASTE "Insert Clipboard contents\nPaste"
  ID_EDIT_REPEAT "Repeat the last action\nRepeat"
  ID_EDIT_REPLACE "Replace specific text with different text\nReplace"
  ID_EDIT_SELECT_ALL "Select the entire document\nSelect All"
  ID_EDIT_UNDO "Undo the last action\nUndo"
  ID_EDIT_REDO "Redo the previously undone action\nRedo"
END

STRINGTABLE DISCARDABLE
BEGIN
  ATL_IDS_SCSIZE "Change the window size"
  ATL_IDS_SCMOVE "Change the window position"
  ATL_IDS_SCMINIMIZE "Reduce the window to an icon"
  ATL_IDS_SCMAXIMIZE "Enlarge the window to full size"
  ATL_IDS_SCNEXTWINDOW "Switch to the next document window"
  ATL_IDS_SCPREVWINDOW "Switch to the previous document window"
  ATL_IDS_SCCLOSE "Close the active window and prompts to save the documents"
END

STRINGTABLE DISCARDABLE
BEGIN
  ATL_IDS_SCRESTORE "Restore the window to normal size"
  ATL_IDS_SCTASKLIST "Activate Task List"
  ATL_IDS_MDICHILD "Activate this window"
END

STRINGTABLE DISCARDABLE
BEGIN
  ATL_IDS_IDLEMESSAGE "Ready"
  ATL_IDS_MRU_FILE "Open this document"
END

